.phone-img img{
 height:100px;
 margin-top:10px;
}

.product-card-container,.cart-container{
  padding: 10px;
  display: flex;
    flex-flow: column;
    align-items: center;
}

.cart-container{
 min-width: 70%;
 display: block;
}
.add-cart{
  font-size: 12px;
  padding: 5px 15px;
  margin-top: 25px;
}

.cart-value{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-cart{
  font-size: 12px;
  padding: 0px 7px;
}

.cart-value .name{
  font-size: 13px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
